<h1> Secret Clubhouse </h1>

<%= form_with model: @post, class: "form-signin" do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= label_tag :location %>
  <%= text_field_tag :location %>
  <%= f.submit %>
<% end %>